.topic-style {
	font-weight: 500
}

.fddetailed .desc {
	font-weight: 500;
	color: #ff9235
}

* {
	box-sizing: border-box
}

h1 {
	text-align: center
}

input.invalid {
	background-color: #fdd
}

.tab {
	display: none
}

#prevBtn {
	background-color: #bbb
}

.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: .5
}

.step.active {
	opacity: 1
}

.step.finish {
	background-color: #e7ad2b
}

.form-control {
	font-weight: 500
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
	font-size: .8rem;
	transform: translateY(8px)
}

.form-check-label {
	font-weight: 300;
	font-size: .8rem
}

.buttonInside {
	position: absolute
}

.verifybtn {
	background: 0 0;
	left: 90%;
	position: relative;
	cursor: pointer
}

.select2-container .select2-selection--single {
	height: 35px !important
}

.select2-selection__arrow {
	height: 34px !important
}

* {
	font-family: Roboto, sans-serif
}

@ keyframes click-wave {
	width: 40px;
	opacity: .35;
	position: relative
}

100% {
	height: 200 px;
	width: 200 px;
	margin-left: -80 px;
	margin-top: -80 px;
	opacity: 0
}

.option-input:hover {
	background: #9faab7
}

.option-input:checked {
	background: #40e0d0
}

.option-input:checked::before {
	height: 20px;
	width: 20px;
	position: absolute;
	content: '✔';
	display: inline-block;
	font-size: 12.66667px;
	text-align: center;
	line-height: 20px
}

.option-input:checked::after {
	-webkit-animation: click-wave .65s;
	-moz-animation: click-wave .65s;
	animation: click-wave .65s;
	background: #40e0d0;
	content: '';
	display: block;
	position: relative;
	z-index: 100
}

.option-input.radio {
	border-radius: 50%
}

.option-input.radio::after {
	border-radius: 50%
}

.label-invest {
	color: #a2a2a2;
	font-size: 13px;
	font-weight: 700;
	left: 0px;
	position: absolute;
	top: -6px;
	transition: all 0.1s linear;
	/* margin-bottom: 0rem!important; */
}

input.invest {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #0445ac;
	color: #666;
	font-size: 13px;
	padding: .75em .5em .5em;
	width: 100%;
	border-radius: 0px;
}

input.invest:focus+label,
input.invest+label.show {
	border-radius: 4px;
	color: #dc9800;
	font-size: 1em;
	left: 0px;
	padding: 0 .15em;
	top: -12px;
	margin-bottom: 1.5rem !important;
}

.field {
	margin-bottom: 1.75em;
	position: relative;
}

input.invest:focus {
	border-bottom: 2px solid #20447d !important;
	outline: 0 !important;
	box-shadow: none !important;
	background: #fff;
}

.select-mod .invest {
	border-radius: 0;
	background: transparent;
	border: none;
	border-bottom: 2px solid #0445ac;
	color: #666;
	font-size: 13px;
	padding: 0.75em 0.5em 0.5em;
	width: 100%;
	box-shadow: 0 0 0 0 !important;
}

.select2-container {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #0445ac;
	color: #666;
	font-size: 13px;
}

.select2-container--default .select2-selection--single {
	border: none;
}

.select2-container--default .select2-selection--single {
	background-color: #fff;
	border: 0px !important;
	border-radius: 4px;
}

.form-radio {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	display: inline-block !important;
	position: relative !important;
	background-color: #f1f1f1 !important;
	color: #666 !important;
	top: -8px !important;
	height: 30px !important;
	width: 30px !important;
	border: 0 !important;
	border-radius: 50px !important;
	cursor: pointer !important;
	margin-right: 7px !important;
	outline: 0 !important;
}

.form-radio:checked::before {
	background-color: #f1f1f1 !important;
	position: absolute !important;
	font-size: 14px !important;
	left: 9px !important;
	top: 6px !important;
	font-weight: 900 !important;
	font-family: 'Font Awesome 5 Free' !important;
	content: '\f00c' !important;
	color: #0445ac !important;
}

.form-radio:checked::after {
	background-color: #f1f1f1 !important;
	position: absolute !important;
	font-size: 14px !important;
	left: 9px !important;
	top: 6px !important;
	font-weight: 900 !important;
	font-family: 'Font Awesome 5 Free' !important;
	content: '\f00c' !important;
	color: #0445ac !important;
}

.form-radio:hover {
	background-color: #f7f7f7 !important;
}

.form-check-input[type=radio]:focus {
	background-color: #f7f7f7 !important;
}

.form-radio:checked {
	background-color: #f1f1f1 !important;
}

.form-check-input[type=radio]:after {
	content: "";
	top: 8px;
	left: 8px;
	position: absolute;
	width: 1rem;
	height: 1rem;
	z-index: 1;
	display: block;
	border-radius: 50%;
	background-color: #f1f1f1;
}

.form-check-input[type=radio]:checked:after {
	position: absolute !important;
	width: 1rem;
	height: 1rem;
	z-index: 1;
	display: block;
	border-radius: 50%;
	background-color: #f1f1f1;
	top: 10px !important;
		left: 12px !important;
}

.label-tandc-size {
	color: #dc9800;
	font-size: 13px;
	font-weight: 700;
}

.pl-small-text {
	color: #9e9e9e;
	font-size: 10px;
}