.page_topic{
    text-align: center;
    margin-bottom: 40px;
    margin-top: -18px;

    background: linear-gradient(to right, #c232328f, #6a3a9beb),url(/assets/images/home_loan.png) no-repeat;
    background: -webkit-linear-gradient(to right, #c232328f, #6a3a9beb),url(/assets/images/home_loan.png) no-repeat;
    background: -moz-linear-gradient(to right, #c232328f, #6a3a9beb),url(/assets/images/home_loan.png) no-repeat;
    background: -o-linear-gradient(to right, #c232328f, #6a3a9beb),url(/assets/images/home_loan.png) no-repeat;
    margin-left: -15px;
    margin-right: -15px;
    padding: 20px;
    color: aliceblue;
    font-family: serif;
}

.form_entry{
    animation-name: formmove;
    animation-duration: 2s;
}

@-webkit-keyframes formmove {
    from {opacity: 0;}
    to {opacity: 1;}
} 

/* Standard syntax */ 
@keyframes formmove {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Slider design */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 0.40em;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
/* -------------------------------- */

.loan_details{
    margin-top: 20px;
}