.page_topic{
    text-align: center;
    margin-bottom: 40px;
    margin-top: -18px;

    background: linear-gradient(to right, #8b65a1, #57a5a7);
    background: -webkit-linear-gradient(to right, #8b65a1, #57a5a7);
    background: -moz-linear-gradient(to right, #8b65a1, #57a5a7);
    background: -o-linear-gradient(to right, #8b65a1, #57a5a7);
    margin-left: -15px;
    margin-right: -15px;
    padding: 20px;
    color: aliceblue;
    font-family: serif;
}

.form_entry{
    animation-name: formmove;
    animation-duration: 2s;
}

@-webkit-keyframes formmove {
    from {opacity: 0;}
    to {opacity: 1;}
} 

/* Standard syntax */ 
@keyframes formmove {
    from {opacity: 0;}
    to {opacity: 1;}
}