<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties name="console" class="org.apache.log4j.ConsoleAppender">
		<Property name="LOG_PATTERN">
			%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
		</Property>
	</Properties>
	<Appenders>
	
		<!-- Rolling File Appender -->
		<RollingFile name="FileAppender" fileName="D:/logs/PRODUCTS/freemiweb.log"
			filePattern="D:/logs/PRODUCTS/BACKUP/%d{yyyy}/%d{MMM}/freemiweb-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
        		<SizeBasedTriggeringPolicy size="20 MB" />
       			 <TimeBasedTriggeringPolicy />
				<!-- <SizeBasedTriggeringPolicy size="20MB" /> -->
				<!-- <TimeBasedTriggeringPolicy interval="1"/> -->
			</Policies>
			<DefaultRolloverStrategy max="50" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.app.freemi" level="info" additivity="false">
			<!-- <AppenderRef ref="ConsoleAppender" /> -->
			<AppenderRef ref="FileAppender"/>
		</Logger>

		<Root level="info">
			<!-- <AppenderRef ref="ConsoleAppender" /> -->
			<AppenderRef ref="FileAppender"/>
		</Root>
	</Loggers>
</Configuration>