.section1{
	background: #667db6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	min-height: 400px;
	margin-top: -20px;
	padding-bottom: 30px;
}

.section2{
	background: #ED213A;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #d66157e3, #ef6b2bc4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #d66157e3, #ef6b2bc4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	min-height: 400px;
	padding-top: 10px;
}

.section3{
	background: #00F260;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0575E6, #00F260);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
	min-height: 400px;
	padding-top: 30px;
	text-align: center;
}

.section4{
	background: #FC5C7D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	min-height: 400px;
	padding-top: 30px;
}


.col_design1{
	padding-top: 30px;
	text-align: center;
}

.topic1{
	font-size: 25px;
    font-weight: 600;
    color: #fdff44;
    font-family: 'Bree Serif',serif;
}

.col_design2{
	padding:2px;
	background: #ffffff;
	border-radius: 5px;
	min-height: 420px;
	text-align: center;
	margin-bottom: 5px;
}

.topic2{
	margin-top: 15px;
	padding: 0 15px;
}

.button_eli{
	text-align: center;
}

.content1{
	text-align: left;
    margin-top: 5px;
    font-size: 11px;
    font-family: sans-serif;
    color: #672821;
    border-top: 1px solid #b1a8a8;
    padding-top: 5px;
}

.partners{
	    font-size: 22px;
    	color: white;
}

.contents_pl{
	background: white;
	border-radius: 5px;
	padding: 5px;
}

.content_style{
	font-size: 12px;
}

.pl_content2{
	border-left: 1px solid #c4c4c4;
    padding: 0px 10px 30px;
    text-align: justify;
}

.loan_header{
	font-weight: 700;
	
}

.loan_header_topic{
	color: #246e90;
}

[type=checkbox]+label[for], [type=radio]+label[for] {
	margin-right: 0px;	
}

.loan_share{
	margin: auto;text-align: center; background: #eff7df; padding-bottom: 10px; border-radius: 5px;
}

